{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('about') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('about') }}
{% endblock %}

{% block content %}
    {{ include('pages/about/partials/_hero.html.twig') }}
        {{ include('pages/about/partials/_skills.html.twig') }}
    <div class="about-bottom-container">
        <div class="about-bottom-career">
            <h2 class="about-subtitle title-font"> {{ 'about.title.career'|trans({}, 'about') }} </h2>
            {{ include('pages/about/partials/_career.html.twig') }}
        </div>
        <div class="about-bottom-meet-me">
            <h2 class="about-subtitle title-font"> {{ 'about.title.convinced'|trans({}, 'about') }} </h2>
            {{ include('pages/about/partials/_meet-me.html.twig') }}
        </div>
        <div class="about-bottom-meet-me keep" style="display: none;">
        </div>
    </div>
{% endblock %}
