<img src="{{ asset('images/footer.png') }}" alt="footer" class="footer-img" />
<footer>
    <div class="footer-part network">
        <div class="network-block">
            <a href="https://www.youtube.com/channel/UCA5GNHsUW0LybjZjlDiOWPQ" target="_blank">
                <img src="{{ asset('images/youtube.svg') }}" alt="youtube svg"/>
            </a>
        </div>
        <div class="network-block">
            <a href="https://www.codingame.com/profile/1fdf1790089d2e14a7ba6dba93aeabb40764934" target="_blank">
                <img src="{{ asset('images/codingame.svg') }}" alt="codingame svg"/>
            </a>
        </div>
        <div class="network-block">
            <a href="https://github.com/Virex22" target="_blank">
                <img src="{{ asset('images/github.svg') }}" alt="github svg"/>
            </a>
        </div>
        <div class="network-block">
            <a href="https://discord.com/invite/D96cKg3" target="_blank">
                <img src="{{ asset('images/discord.svg') }}" alt="discord svg"/>
            </a>
        </div>
        <div class="network-block">
            <a href="https://www.linkedin.com/in/vincent-remy2/" target="_blank">
                <img src="{{ asset('images/linkedin.svg') }}" alt="linkedin svg"/>
            </a>
        </div>
    </div>
    <div class="footer-part mention">
        <span>©️Vincent REMY 2022-{{ "now"|date("Y") }}, <a
                    href="{{ path('portfolio_legal') }}">{{ "footer.legal.title" | trans({}, 'footer') }}</a></span>
        <span>{{ "footer.legal.text" | trans({}, 'footer') }} Valentin HOFFART</span>
    </div>
    <div class="footer-part sitemap">
        <p class="footer-title">{{ "footer.sitemap.title" | trans({}, 'footer') }}</p>

        <div class="sitemap-grid">
            <a href="{{ path('portfolio_home') }}">{{ "footer.sitemap.home" | trans({}, 'footer') }}</a>
            <a href="{{ path('portfolio_about') }}">{{ "footer.sitemap.about" | trans({}, 'footer') }}</a>
            <a href="{{ path('portfolio_projects') }}">{{ "footer.sitemap.projects" | trans({}, 'footer') }}</a>
            <a href="{{ path('portfolio_contact') }}">{{ "footer.sitemap.contact" | trans({}, 'footer') }}</a>
        </div>
    </div>
</footer>
