<nav>
    <img src="{{ asset('images/logo.png') }}" alt="Logo">
    <div class="mobile-lines">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <ul>
        <li><a href="#">{{ "navbar.menu.home" | trans({}, "navbar") }}</a></li>
        <li><a href="#">{{ "navbar.menu.about" | trans({}, "navbar") }}</a></li>
        <li><a href="#">{{ "navbar.menu.realizations" | trans({}, "navbar") }}</a></li>
        <li><a href="#">{{ "navbar.menu.skills" | trans({}, "navbar") }}</a></li>
        <li><a href="#">{{ "navbar.menu.contact" | trans({}, "navbar") }}</a></li>
    </ul>
</nav>