<nav>
    <a href="{{ path('portfolio_home') }}" class="logo">
        <img src="{{ asset('images/logo.svg') }}" alt="Logo">
    </a>
    <div class="mobile-lines">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
    </div>
    <ul>
        <li{% if app.request.attributes.get('_route') == 'portfolio_home' %} class="active"{% endif %}><a href="{{ path('portfolio_home') }}">{{ "navbar.menu.home" | trans({}, "navbar") }}</a></li>
        <li{% if app.request.attributes.get('_route') == 'portfolio_about' %} class="active"{% endif %}><a href="{{ path('portfolio_about') }}">{{ "navbar.menu.about" | trans({}, "navbar") }}</a></li>
        <li{% if app.request.attributes.get('_route') == 'portfolio_projects' %} class="active"{% endif %}><a href="{{ path('portfolio_projects') }}">{{ "navbar.menu.projects" | trans({}, "navbar") }}</a></li>
        <li{% if app.request.attributes.get('_route') == 'portfolio_contact' %} class="active"{% endif %}><a href="{{ path('portfolio_contact') }}">{{ "navbar.menu.contact" | trans({}, "navbar") }}</a></li>
        <li>
            <div class="language">
                {% if app.request.locale == 'fr' %}
                    <a href="{{ path('portfolio_locale', {'locale': 'en'}) }}" class="fr">
                        <img src="{{ asset('images/fr.svg') }}" alt="Translation">
                    </a>
                {% else %}
                    <a href="{{ path('portfolio_locale', {'locale': 'fr'}) }}" class="en">
                        <img src="{{ asset('images/en.svg') }}" alt="Translation">
                    </a>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>