{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('project-view') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('project-view') }}
{% endblock %}

{% block content %}
    <div class="project-view-hero project-hero" style="background-image: url('{{ vich_uploader_asset(project, 'coverImageFile') }}')">
        <div class="project-hero-content">
            <h1 class="title title-font">{{ project.name }}</h1>
            <div class="description"> {{ project.description | trixify | raw }} </div>
        </div>
        <div class="project-skills">
            {% for skill in project.skills %}
                {% if skill.badgeUrl is not null %}
                    <div class="project-skills-img">
                        <img src="{{ vich_uploader_asset(skill, 'badgeFile') }}" alt="{{ skill.name }}">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% for content in project.projectContents %}
        <section class="project-content {{ content.viewType }}" data-aos="fade-up">
            {% if content.viewType == 'AllImage' or content.viewType == 'ImageLeft' %}
                <a href="{{ vich_uploader_asset(content, 'imageFile') }}" data-fancybox="gallery" class="img">
                    <img src="{{ vich_uploader_asset(content, 'imageFile') }}" alt="{{ project.name }}-image-{{ loop.index }}">
                </a>
            {% endif %}

            {% if content.viewType != 'AllImage' %}
                <div class="text-content wysiwyg-render">
                    {{ content.textContent | trixify | raw }}
                </div>
            {% endif %}

            {% if content.viewType == 'ImageRight' %}
                <a href="{{ vich_uploader_asset(content, 'imageFile') }}" data-fancybox="gallery" class="img">
                    <img src="{{ vich_uploader_asset(content, 'imageFile') }}" alt="{{ project.name }}-image-{{ loop.index }}">
                </a>
            {% endif %}
        </section>
    {% endfor %}

    <div class="project-view-footer">
        <div class="project-view-footer-hashtags">
            {% for skill in project.skills %}
                {% if skill.badgeUrl is null %}
                    <span>#{{ skill.name }}</span>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
