{% extends 'layout.html.twig' %}

{% block title %}Vincent REMY - Portfolio{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block content %}
    {% include 'pages/home/partials/_hero.html.twig' %}
    <h2 class="home-subtitle"> {{ "home.title.presentation"| trans({}, 'home')}}</h2>
    {% include('pages/home/partials/_presentation.html.twig') %}
    <h2 class="home-subtitle"> {{ "home.title.realization"| trans({}, 'home')}}</h2>
    {% include('pages/home/partials/_services.html.twig') %}
    <h2 class="home-subtitle"> {{ "home.title.skills"| trans({}, 'home')}}</h2>
    {% include('pages/home/partials/_skills.html.twig') %}
{% endblock %}
