{% extends 'layout.html.twig' %}

{% block title %}Vincent REMY - {{ 'maintenance.title'|trans({}, 'maintenance')}}{% endblock %}

{% block header %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('maintenance') }}
{% endblock %}

{% block content %}
    <div class="maintenance">
        <div class="maintenance-wrapper">
            <div class="maintenance-text">
                <h1>{{ 'maintenance.title'|trans({}, 'maintenance') }}</h1>
                <p>{{ 'maintenance.message'|trans({}, 'maintenance') }}</p>
            </div>
            <div class="maintenance-image">
                <img src="{{ asset('images/maintenance.svg') }}" alt="{{ 'maintenance.title'|trans({}, 'maintenance') | lower }}">
            </div>
        </div>
    </div>
{% endblock %}
