<div class="skill-grid">
    {% for skill in skillGroups %}
        <div class="skill-group" data-aos="fade-up">
            <p>{{ skill.customName }}</p>
            <progress value="{{ skill.acquiredPercentage }}" max="100">{{ skill.acquiredPercentage }}%</progress>
        </div>
    {% endfor %}
</div>
<div class="skill-explanation" data-aos="fade-up">
    <p>{{ "about.skill.explanation.title" | trans({}, 'about') }} </p>
    <ul class="skill-explanation-content">
        <li>0% : {{ "about.skill.content.0" | trans({}, 'about') }}</li>
        <li>25% : {{ "about.skill.content.25" | trans({}, 'about') }}</li>
        <li>50% : {{ "about.skill.content.50" | trans({}, 'about') }}</li>
        <li>75% : {{ "about.skill.content.75" | trans({}, 'about') }}</li>
        <li>100% : {{ "about.skill.content.100" | trans({}, 'about') }}</li>
    </ul>
</div>
