<div class="projects-container">
    <div class="filter-projects">
        {#        filre disponible : technologie, soft skill; trie disponible: date, temps passé #}
        {% if technicalFacetOptions is not empty %}
            {% include 'pages/projects/_partials/components/_select.html.twig' with {
                'label': 'Technologie',
                'name': 'technology',
                'options': technicalFacetOptions} %}
        {% endif %}
        {% if softFacetOptions is not empty %}
            {% include 'pages/projects/_partials/components/_select.html.twig' with {
                'label': 'Soft skill',
                'name': 'soft-skill',
                'options': softFacetOptions} %}
        {% endif %}
        {% include 'pages/projects/_partials/components/_select.html.twig' with {
            'label': 'Trie par',
            'name': 'sort',
            'options': [
                {'value': 'pertinence', 'label': 'Pertinence'},
                {'value': 'bdate-desc', 'label': 'Date de début (plus récent)'},
                {'value': 'bdate-asc', 'label': 'Date de début (plus ancien)'},
                {'value': 'edate-desc', 'label': 'Date de fin (plus récent)'},
                {'value': 'edate-asc', 'label': 'Date de fin (plus ancien)'},
                {'value': 'duration-desc', 'label': 'Durée (plus long)'},
                {'value': 'duration-asc', 'label': 'Durée (plus court)'}
            ]
        } %}
    </div>
    <div class="project-grid">
        {% for project in projects %}
            {% set encodedSkills = project.skills | map(s => s.id) | join(',') | base64_encode %}
            {#  placeholder for the first dev #}
            <div class="project-card" data-skill="{{ encodedSkills }}"
                 data-date="{{ project.startDate | date('Y-m-d') }},{{ project.endDate | date('Y-m-d') }}">
                <a href="{{ path('project_show', {'id': project.id}) }}">
                    <div class="project-card-image">
                        {#  placeholder for the first dev #}
                        <img src="https://picsum.photos/200/300" alt="project image">
                    </div>
                </a>
                <div class="project-card-content">
                    <a href="{{ path('project_show', {'id': project.id}) }}">
                        <h2 class="project-card-title">{{ project.name }}</h2></a>
                    <p class="project-card-description">{{ project.description }}</p>
                </div>
                <button class="project-card-button"
                        onclick="window.location.href='{{ path('project_show', {'id': project.id}) }}'">Voir le projet
                </button>
            </div>
        {% endfor %}
    </div>
</div>