{% extends 'layout.html.twig' %}

{% block title %}Vincent REMY - Portfolio{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}

{% block content %}
    <div class="hero">
        <div></div>
    </div>
    <div class="container">
        <div class="form-wrapper">
            <h1>{{ "contact.title"|trans({}, 'contact') }}</h1>
            <p>
                {{ "contact.description"|trans({}, 'contact') }}
            </p>

            {{ form_start(form) }}
            <div>
                {% if success is defined %}
                    {% if success %}
                        <div class="alert alert-success">
                            {{ "contact.success"|trans({}, 'contact') }}
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            {{ "type.captcha.error"|trans({}, 'contact') }}
                        </div>
                    {% endif %}
                {% endif %}
                {{ form_row(form.name) }}
                {{ form_row(form.surname) }}
                {{ form_row(form.email) }}
                {{ form_row(form.subject) }}
                {{ form_row(form.message) }}
                {{ form_row(form.submit) }}
            </div>
            {{ form_end(form) }}
            <p class="notice">
                {{ "contact.notice"|trans({}, 'contact') }}
            </p>
        </div>
        <aside>
            <img src="{{ asset('images/vincent-remy.jpg') }}" alt="Vincent REMY"/>
            <div>
                <h2>{{ "contact.contact.title"|trans({}, 'contact') }}</h2>
                <ul>
                    <li> {{ "contact.contact.phone"|trans({}, 'contact') }} 06 50 76 00 28</li>
                    <li> {{ "contact.contact.email"|trans({}, 'contact') }} vincentremy222@gmail.com</li>
                </ul>
            </div>
            <div>
                <h2>{{ "contact.social.title"|trans({}, 'contact') }}</h2>
                <div class="network-container">
                    <div class="network-block">
                        <a href="https://www.youtube.com/channel/UCA5GNHsUW0LybjZjlDiOWPQ" target="_blank">
                            <img src="{{ asset('images/youtube.svg') }}" alt="youtube svg"/>
                        </a>
                    </div>
                    <div class="network-block">
                        <a href="https://www.codingame.com/profile/1fdf1790089d2e14a7ba6dba93aeabb40764934"
                           target="_blank">
                            <img src="{{ asset('images/codingame.svg') }}" alt="codingame svg"/>
                        </a>
                    </div>
                    <div class="network-block">
                        <a href="https://github.com/Virex22" target="_blank">
                            <img src="{{ asset('images/github.svg') }}" alt="github svg"/>
                        </a>
                    </div>
                    <div class="network-block">
                        <a href="https://discord.com/invite/D96cKg3" target="_blank">
                            <img src="{{ asset('images/discord.svg') }}" alt="discord svg"/>
                        </a>
                    </div>
                    <div class="network-block">
                        <a href="https://www.linkedin.com/in/vincent-remy2/" target="_blank">
                            <img src="{{ asset('images/linkedin.svg') }}" alt="linkedin svg"/>
                        </a>
                    </div>
                </div>
            </div>
        </aside>
    </div>
{% endblock %}
