{% extends 'layout.html.twig' %}

{% block title %}Vincent REMY - Portfolio{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}

{% block content %}
    <div class="hero">
        <div></div>
    </div>
    <div class="container">
       <div class="form-wrapper">
           <h1>{{ "contact.title"|trans({}, 'contact') }}</h1>
           <p>
               {{ "contact.description.line1"|trans({}, 'contact') }}
                <br />
               {{ "contact.description.line2"|trans({}, 'contact') }}
           </p>
       </div>
       <aside>
           <div>
               <h2>{{ "contact.contact.title"|trans({}, 'contact') }}</h2>
               <ul>
                   <li>{{ "contact.contact.phone"|trans({}, 'contact') }} 06 50 76 00 28</li>
                   <li>{{ "contact.contact.email"|trans({}, 'contact') }}</li>
               </ul>
           </div>
           <div>
               <h2>{{ "contact.legal.title"|trans({}, 'contact') }}</h2>
               <p>{{ "contact.legal.address"|trans({}, 'contact') }}</p>
           </div>
           <div>
               <h2>{{ "contact.faq.title"|trans({}, 'contact') }}</h2>
               <h3>{{ "contact.faq.availability.title"|trans({}, 'contact') }}</h3>
               <p>
                   {{ "contact.faq.availability.answer"|trans({}, 'contact') }}
               </p>
               <h3>{{ "contact.faq.pricing.title"|trans({}, 'contact') }}</h3>
               <p>
                  {{ "contact.faq.pricing.answer"|trans({}, 'contact') }}
               </p>
               <h3>{{ "contact.faq.availability.title"|trans({}, 'contact') }}</h3>
               <p>
                   {{ "contact.faq.availability.answer"|trans({}, 'contact') }}
               </p>
           </div>
       </aside>
    </div>
{% endblock %}
