{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('contact') }}
{% endblock %}

{% block content %}
    <div class="hero">
        <div></div>
    </div>
    <div class="container">
        <div class="form-wrapper">
            <h1 class="title-font">{{ "contact.title"|trans({}, 'contact') }}</h1>

            {{ form_start(form) }}
            <div>
                {% if success is defined %}
                    {% if success %}
                        <div class="alert alert-success">
                            {{ "contact.success"|trans({}, 'contact') }}
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            {{ "type.captcha.error"|trans({}, 'contact') }}
                        </div>
                    {% endif %}
                {% endif %}
                <div class="input-group">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control', 'required': true} }) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    {{ form_label(form.name, null, { 'label_attr': {'class': 'label'} }) }}
                </div>
                <div class="input-group">
                    {{ form_widget(form.surname, { 'attr': {'class': 'form-control', 'required': false} }) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    {{ form_label(form.surname, null, { 'label_attr': {'class': 'label'} }) }}
                </div>
                <div class="input-group">
                    {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'required': true} }) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    {{ form_label(form.email, null, { 'label_attr': {'class': 'label'} }) }}
                </div>
                <div class="input-group">
                    {{ form_widget(form.subject, { 'attr': {'class': 'form-control', 'required': true} }) }}
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    {{ form_label(form.subject, null, { 'label_attr': {'class': 'label'} }) }}
                </div>
                <div class="input-group">
                    {{ form_widget(form.message, { 'attr': {'class': 'form-control', 'rows': 5, 'style': 'resize: vertical;'} }) }}
                    <span class="bar"></span>
                    {{ form_label(form.message, null, { 'label_attr': {'class': 'label'} }) }}
                </div>
                {{ form_row(form.submit, { 'attr': {'class': 'button'} }) }}
            </div>
            {{ form_end(form) }}
            <p class="notice">
                {{ "contact.notice"|trans({}, 'contact') }}
            </p>
        </div>
        <aside>
            <img src="{{ asset('images/vincent-remy-crop.png') }}" alt="Vincent REMY"/>
            <div>
                <h2 class="title-font">{{ "contact.contact.title"|trans({}, 'contact') }}</h2>
                <ul>
                    <li> {{ "contact.contact.phone"|trans({}, 'contact') }} 06 50 76 00 28</li>
                    <li> {{ "contact.contact.email"|trans({}, 'contact') }} vincentremy222@gmail.com</li>
                </ul>
            </div>
            <div>
                <h2 class="title-font">{{ "contact.social.title"|trans({}, 'contact') }}</h2>
                <div class="network-container">
                    <div class="network-block">
                        <a href="https://www.youtube.com/channel/UCA5GNHsUW0LybjZjlDiOWPQ" target="_blank">
                            <img src="{{ asset('images/youtube.svg') }}" alt="youtube svg"/>
                        </a>
                    </div>
                    <div class="network-block">
                        <a href="https://www.codingame.com/profile/1fdf1790089d2e14a7ba6dba93aeabb40764934"
                           target="_blank">
                            <img src="{{ asset('images/codingame.svg') }}" alt="codingame svg"/>
                        </a>
                    </div>
                    <div class="network-block">
                        <a href="https://github.com/Virex22" target="_blank">
                            <img src="{{ asset('images/github.svg') }}" alt="github svg"/>
                        </a>
                    </div>
                    <div class="network-block">
                        <a href="https://discord.com/invite/D96cKg3" target="_blank">
                            <img src="{{ asset('images/discord.svg') }}" alt="discord svg"/>
                        </a>
                    </div>
                    <div class="network-block">
                        <a href="https://www.linkedin.com/in/vincent-remy2/" target="_blank">
                            <img src="{{ asset('images/linkedin.svg') }}" alt="linkedin svg"/>
                        </a>
                    </div>
                </div>
            </div>
        </aside>
        <img class="contact-show" src="{{ asset('images/characterz/contact_show.png') }}" alt="contact show"/>
    </div>
{% endblock %}
