<header>
    <div class="swiper hero-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-1">
                <img alt="console" src="{{ asset('images/home/console.svg') }}" class="img-console">
                <div class="circle"></div>
                <img alt="avatar" src="{{ asset('images/home/avatar.png') }}" class="img-avatar">
                <div class="slide-text-wrapper">
                    <p class="title">{{ 'home.hero.slide1.title'|trans({}, 'home') }}
                    <p class="subtitle">{{ 'home.hero.slide1.subtitle'|trans({}, 'home') }}
                </div>
            </div>
            <div class="swiper-slide slide-2">
                <div class="circle"></div>
                <img alt="avatar" src="{{ asset('images/home/avatar.png') }}" class="img-avatar">
                <div class="slide-text-wrapper">
                    <p class="title">{{ 'home.hero.slide2.title'|trans({}, 'home') }}</p>
                    <p class="subtitle">{{ 'home.hero.slide2.subtitle'|trans({}, 'home') }}
                </div>
            </div>
            <div class="swiper-slide slide-3">
                <div class="circle"></div>
                <img alt="avatar" src="{{ asset('images/home/avatar.png') }}" class="img-avatar">
                <div class="slide-text-wrapper">
                    <p class="title">{{ 'home.hero.slide3.title'|trans({}, 'home') }}</p>
                    <p class="subtitle">{{ 'home.hero.slide3.subtitle'|trans({}, 'home') }}
                </div>
            </div>
            <div class="swiper-slide slide-4">
                <div class="circle"></div>
                <img alt="avatar" src="{{ asset('images/home/avatar.png') }}" class="img-avatar">
                <div class="slide-text-wrapper">
                    <p class="title">{{ 'home.hero.slide4.title'|trans({}, 'home') }}</p>
                    <p class="subtitle">{{ 'home.hero.slide4.subtitle'|trans({}, 'home') }}
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</header>