<header>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-1">
                <img alt="console" src="{{ asset('images/home/console.svg') }}" class="img-console">
                <div class="circle"></div>
                <img alt="avatar" src="{{ asset('images/home/avatar.png') }}" class="img-avatar">
                <div class="slide-text-wrapper">
                    <p class="title">Bonjour je suis Vincent Rémy</p>
                    <p class="subtitle">Je suis dévelopeur fullstack et logiciel</p>
                </div>
            </div>
            <div class="swiper-slide slide-2">
                <div class="circle"></div>
                <img alt="avatar" src="{{ asset('images/home/avatar.png') }}" class="img-avatar">
                <div class="slide-text-wrapper">
                    <p class="title">Je suis un passionné depuis mes 13 ans !</p>
                    <p class="subtitle">Tant par l’informatique que par le développement</p>
                </div>
            </div>
            <div class="swiper-slide slide-3">
                <div class="circle"></div>
                <img alt="avatar" src="{{ asset('images/home/avatar.png') }}" class="img-avatar">
                <div class="slide-text-wrapper">
                    <p class="title">Je suis un vrai touche à tout !</p>
                    <p class="subtitle">Venez découvrir mes compétences</p>
                </div>
            </div>
            <div class="swiper-slide slide-4">
                <div class="circle"></div>
                <img alt="avatar" src="{{ asset('images/home/avatar.png') }}" class="img-avatar">
                <div class="slide-text-wrapper">
                    <p class="title">Envie d’en savoir plus ?</p>
                    <p class="subtitle">Il ne vous reste qu’à me contacter</p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</header>