<div class="presentation-section">
    <div class="bg-w">
        <div class="presentation presentation-about page-mw img-first">
            <img src="{{ asset('images/characterz/home_about.png') }}" alt="abouts" class="presentation-image" data-aos="zoom-in-down">
            <div>
                <p class="presentation-title title-font" data-aos="fade-up">{{ "home.presentation.about.title" | trans({}, 'home') }}</p>
                <p data-aos="fade-up">{{ "home.presentation.about.content" | trans({}, 'home') | trixify | raw }}</p>
            </div>
        </div>
    </div>
    <div class="separator-wg"></div>
    <div class="bg-g">
        <div class="presentation presentation-like page-mw">
            <div>
                <p class="presentation-title title-font" data-aos="fade-up">{{ "home.presentation.like.title" | trans({}, 'home') }}</p>
                <p data-aos="fade-up">{{ "home.presentation.like.content" | trans({}, 'home')  | trixify | raw }}</p>
            </div>
            <img src="{{ asset('images/characterz/home_like.png') }}" alt="likes" class="presentation-image" data-aos="zoom-in-down">
        </div>
    </div>
    <div class="bg-w">
        <div class="presentation presentation-objective page-mw img-first">
            <img src="{{ asset('images/characterz/home_objective.png') }}" alt="objective"
                 class="presentation-image" data-aos="zoom-in-down">
            <div>
                <p class="presentation-title title-font" data-aos="fade-up"> {{ "home.presentation.objective.title" | trans({}, 'home') }}</p>
                <p data-aos="fade-up"> {{ "home.presentation.objective.content" | trans({}, 'home') | raw }}</p>
            </div>
        </div>
    </div>
</div>