<div class="presentation-section">
    <div class="presentation presentation-about">
        <img src="{{ asset('images/home/presentation-about.svg') }}" alt="abouts" class="presentation-image">
        <div class="presentation-right">
            <p class="presentation-title">{{ "home.presentation.about.title" | trans({}, 'home') }}</p>
            <p>{{ "home.presentation.about.content" | trans({}, 'home') }}</p>
        </div>
    </div>
    <div class="presentation presentation-skill">
        <img src="{{ asset('images/home/presentation-skill.svg') }}" alt="skills" class="presentation-image">
        <div class="presentation-right">
            <p class="presentation-title">{{ "home.presentation.skill.title" | trans({}, 'home') }}</p>
            <p>{{ "home.presentation.skill.content" | trans({}, 'home') }}</p>
        </div>
    </div>
    <div class="presentation presentation-passion">
        <img src="{{ asset('images/home/presentation-passions.svg') }}" alt="passions" class="presentation-image">
        <div class="presentation-right">
            <p class="presentation-title"> {{ "home.presentation.passion.title" | trans({}, 'home') }}</p>
            <p> {{ "home.presentation.passion.content" | trans({}, 'home') }}</p>
        </div>
    </div>
    <div class="presentation presentation-realization">
        <img src="{{ asset('images/home/presentation-realization.svg') }}" alt="projects" class="presentation-image">
        <div class="presentation-right">
            <p class="presentation-title"> {{ "home.presentation.projects.title" | trans({}, 'home') }}</p>
            <p> {{ "home.presentation.projects.content" | trans({}, 'home') }}</p>
        </div>
    </div>
</div>